# Rename this file as .env.local and run convex dev command

# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:dsadsjjadsasd

NEXT_PUBLIC_CONVEX_URL=https://asdasd-afdadf-134.convex.cloud

NEXT_PUBLIC_CONVEX_SITE_URL=https://asdasd-afdadf-134.convex.site
SITE_URL=http://localhost:3000